body {
	background-image: url(../images/bg.jpg);
	font-family: 'Ubuntu', sans-serif;
}

#Instructions {
	color: #fff;
	font-size: 20px;
	margin-top: 20px;
}

#Messages span {
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	padding: 5px;
}

#Players {
	margin-top: 20px;
}

#Players .player {
	cursor: pointer;
}

.player {
	background-position: center;
	background-size: cover;
	border: 7px solid #000;
	border-top: 14px solid #000;
	border-bottom: 14px solid #000;
	min-height: 400px;
}

.player h2 {
	background-color: #000;
	color: #fff;
	margin-bottom: 0;
	padding: 5px;
	padding-top: 0;
	position: relative;
	max-width: 200px;
	text-align: center;
}

.player .hp {
	background-color: #000;
	color: #fff;
	position: relative;
	max-width: 200px;
	text-align: center;
}